<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- bootstrap CSS --}}
  <link rel="stylesheet" href="">
  {{!-- google fonts --}}
  <link href="font" rel="stylesheet">
  {{!-- my stylesheet --}}
  <link rel="stylesheet" href="" media="screen" title="no title" charset="utf-8">
  {{!-- favicon icon --}}
  <link rel="icon" href="" type=""/>
  <title>Orlando Views</title>
  
</head>

<body>
  <div id=""></div>
    {{{body}}}
</body>

</html>