<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- bootstrap CSS --}}
  <link rel="stylesheet" href="">
  {{!-- google fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
  {{!-- my stylesheet --}}
  <link rel="stylesheet" href="" media="screen" title="no title" charset="utf-8">
  {{!-- favicon icon --}}
  <link rel="apple-touch-icon" href="/apple-icon-57x57.png" type="image/x-icon"/>
  <title>Orlando Views</title>
  
</head>

<body>
  <div id=""></div>
    {{{body}}}
</body>

</html>